[2017-07-18 15:35] tsandall opened #2 "Document list of group/version/kind values that can be used"
The implementation is generic so any set should work, however, the format is somewhat finicky (e.g., `v1/services`, NOT `v1/Service` or `v1/service`, etc.)

[2017-07-18 15:35] tsandall opened #3 "Document supported group/version/kind values"
The implementation is generic so any set should work, however, the format is somewhat finicky (e.g., `v1/services`, NOT `v1/Service` or `v1/service`, etc.)

[2018-01-29 16:56] tsandall opened #5 "Add flag to automatically generate admission CA and server cert"
When kube-mgmt is deployed and automatically registers OPA as an admission controller, it would be nice if it would take care of generating the CA and server cert (and making the latter available to OPA) as this is currently done manually. This should be an optional feature that users can enable using a command line argument.

[2018-01-29 16:57] tsandall opened #6 "Improve error handling in policy/data updates"
kube-mgmt should be able to recover if policy/data updates against OPA fail. Performing a complete re-synchronization is likely the best approach.

[2018-02-06 17:25] rlguarino opened #7 "Kube-mgmt can't delete ingresses it created in OPA"
My kube-mgmt instance can't delete the ingresses that it added to the data section of the opa sidecar.

From kube-mgmt:
[code]

From opa:
[code]

I'm not sure if I'm reading the Rest API docs right, but there's not much about removing existing data.

The ingress is still there if I curl the opa API directly.

[2018-02-06 18:34] tsandall commented on #7
The [Data API](http://www.openpolicyagent.org/docs/rest-api.html#data-api) supports a PATCH operation that kube-mgmt should be using to remove resources.

Could you try upgrading to v0.5 of kube-mgmt? It includes a change that puts the error reason into the log message. From looking a thte OPA logs, I can't tell why it's failing.

[2018-02-06 18:35] tsandall commented on #7
I think that in any case, we need to improve kube-mgmt to perform a full resync in case a write against OPA fails (because it's not going to retry until the resource changes.)

[2018-02-09 22:17] tsandall commented on #7
This should be fixed by #8.

[2018-02-09 22:17] #7 closed

[2018-02-09 22:25] tsandall commented on #6
Data updates have been fixed in #8. Longer term, we should address policy removal checks using an admission controller & CRD.

[2018-02-09 22:25] #6 closed

[2018-02-09 22:25] tsandall commented on #3
Duplicate of #2

[2018-02-09 22:25] #3 closed

[2018-03-09 23:49] tsandall opened #10 "Remove need for --replicate flags"
The policies should be analyzed to determine which Kubernetes resources to replicate into OPA.

For example, given a policy like:

[code]

We could establish a convention that Kubernetes data is inserted at a specific path (e.g., `kubernetes.resources`.) Then the policies could be analyzed to determine which resource kinds are required.

[2018-04-12 06:04] shrinandj opened #11 "kube-mgmt requires cluster wide access to resources"
I tried to run the kube-mgmt sidecar to opa on my Kubernetes cluster and granted it limited privileges. The role that the deployment was running with only had access to it's own namespace and nothing else.

I only had `--replicate=v1/pods` as the argument to `kube-mgmt`. I saw the following errors:
[code]

If I understand the code right, it seems that `kube-mgmt` currently watches for resources ac

[2018-04-12 16:01] tsandall commented on #11
That seems like a reasonable configuration setting.

The reason that kube-mgmt defaults to watching all namespaces is that it's intended to support OPA as an external admission controller for the cluster.

This means that OPA is responsible for enforcing policy decisions that affect the entire cluster.

To do this, OPA may need to have Kubernetes resources from any namespace.

Minimally we could i

[2018-04-25 00:21] shrinandj opened #12 "Add examples for easier use of kube-mgmt with OPA"
kube-mgmt with OPA can be very powerful for operating Kubernetes clusters at scale in large companies. Policies can enforcing company specific compliance rules or Initializers can directly injecting required parameters into the Kubernetes objects. However, it is currently hard to discover and quickly get off the ground with this setup. The only document I found was this [webpage](http://www.openpo

[2018-04-25 15:02] tsandall commented on #12
@shrinandj we'll happily take examples.

Also, if you think the admission control tutorial on the web page could be updated to work with RBAC that would be a welcome contribution as well.  The source for the tutorial is here: https://github.com/open-policy-agent/opa/blob/master/docs/book/kubernetes-admission-control.md

Closing this issue for now. Feel free to submit PRs w/ your examples.

[2018-04-25 15:02] #12 closed

[2018-07-18 15:49] mlbiam opened #14 "Create --require-label option"
When running OPA in a namespace with other services, I'd like to limit which configmaps are interpreted as policies.  Right now its either in a single namespace, or by a label.  It would be good if you could require both.

[2018-07-18 16:56] #14 closed

[2018-07-18 17:03] tsandall commented on #14
FYI, I've released v0.7 which includes the new command line flag.

[2018-08-27 16:53] tsandall opened #16 "Add support for loading policies via CRDs"
Some users have requested the ability to load policies into OPA via CRDs. Creating an issue to track the work.

- Define new CRD to contain OPA policies (e.g., policy.openpolicyagent.org/v1beta1)
- Implement controller in kube-mgmt similar to configmap controller that loads policies into OPA
- Add flag to kube-mgmt to switch policy loading from configmaps to CRDs
- Update documentation to refer to

[2018-10-12 20:43] sandeepbhojwani commented on #10
This will be very cool. Any updates on this?

[2018-10-12 20:54] tsandall commented on #10
There hasn't been any work done on this to date. We'll keep it mind as we prioritize things for the next few months.

[2018-10-24 01:34] gordonbondon commented on #5
Maybe you can leverage `cert-manager` here. They have a way to bootstrap certificates for webhooks and updating them in admission controller configuration: https://github.com/jetstack/cert-manager/blob/master/contrib/manifests/cert-manager/with-rbac-webhook.yaml

[2018-12-06 18:50] gnealhou opened #23 "auth token should not be listed on command line"
This is an enchancement request.

**CURRENT STATE**

The opa authentication token is passed in via command line with the --opa-auth-token command. This means OPA can be compromised by:

- anyone with access to the Kubernetes Deployment (kubectl get deploy -n opa <deployment name> -o yaml)
- anyone with access to the kube-mgmt pod (kubectl get pod -n opa <podname> -o yaml)
- anyone with exec privil

[2018-12-07 19:30] somebodywithaninterestingface opened #24 "Trouble replicating CRD resources in kube-mgmt"
Hi everyone,

I'm having problems caching crds that i created into kube-mgmt
say i have a CRD like such
[code]

I'm trying to import it as
"--replicate-cluster=examples.example.com/v1/examples"

however this does not work.
Any suggestions?

[2018-12-10 23:19] tsandall commented on #23
It may be possible to refer to an environment variable in the command line arguments and then load the secret that way. I'll try this out and reply here. If that doesn't work, perhaps we ought to let users specify the token via environment variables. That seems like the simplest approach for now.

RE: mutual TLS, OPA does not currently support that in the HTTP server. We have an open issue for thi

[2018-12-11 19:36] gnealhou commented on #23
Either would work -- storing the token in an environment variable means the Kubernetes deployment can keep it in a Secret. If someone can get on the pod to view the environment, they can probably get the secret if it's in a file, too.

[2018-12-18 22:55] #24 closed

[2018-12-18 23:05] tsandall commented on #24
@somebodywithaninterestingface sorry for the late response. Take a look at the PR @ashutosh-narkar just submitted. That should show you how to replicate CRDs into OPA.

[2018-12-19 01:05] ashutosh-narkar commented on #23
I am going to try to use the secret in an environment variable and use that env variable in the command line. Will update here. But as @gnealhou mentioned the secret will be visible on entering the kube-mgmt pod.

[2018-12-21 14:15] gnealhou commented on #23
Much better. The token is out of multiple kubernetes objects (that lots of
people could see) and hidden from a casual glance if someone gets on the
box. Assuming we apply appropriate policies to the kube-mgmt container (no
network access, no exec access), it's reasonably secure.

Gary

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_

[2019-01-03 17:41] ashutosh-narkar commented on #23
Closing this as the auth token is reasonable secure and no longer listed on the command line.

[2019-01-03 17:41] #23 closed

[2019-01-11 22:00] kfox1111 opened #27 "readyness check"
kube-mgmt should provide a readyness check to ensure at least one sync has completed. This will enable seamless rolling upgrades of the pods.

[2019-01-12 17:07] tsandall commented on #27
kube-mgmt doesn't have run a server today, though it would be relatively easy to add one. Having the server listen for sync notifications from the configmap and generic sync implementations would be relatively straightforward. If you'd like to help out with this, let me know and I can provide more info if needed.

[2019-01-24 01:17] kfox1111 commented on #23
reading it out of a file would also be very useful.

[2019-01-24 19:55] ashutosh-narkar commented on #23
@kfox1111 someone with access to the container can still see the token, right ?

[2019-01-29 21:58] metrictwo opened #30 "Use v1beta1 version of admissionregistration.k8s.io API"
Currently, when `kube-mgmt` is configured to register OPA as an admission controller, it does so using an `ExternalAdmissionHookConfiguration` from `admissionregistration.k8s.io API/v1alpha1`. This should be updated to use a `ValidatingWebhookConfiguration` from `admissionregistration.k8s.io/v1beta1`. This would have the side benefit of making kube-mgmt's registration implementation in-line with t

[2019-01-30 22:48] tsandall commented on #30
Thanks for filing this @metrictwo. Currently most users are managing the webhook configuration themselves, so updating the registration functionality has been overlooked. If you're interested in this feature and would like to submit a PR, please go ahead!

[2019-04-09 16:31] alkar commented on #11
Since `--policies` is passing in the list of namespaces that policies should be taken from, couldn't we change the `v1. NamespaceAll` flag so that we can achieve least privileged role here?

I understand that it _might_ need to look across all namespaces but the current default behaviour is to constrain it to three namespaces and I'm assuming most users would want to restrict to a subset of namesp

[2019-04-09 18:23] tsandall commented on #11
@alkar yes that makes sense. If you'd like to submit a PR, please go ahead.

[2019-04-10 14:53] alkar commented on #11
@tsandall very good point. I'll have a look and see if it's possible.

[2019-05-24 13:51] alkar commented on #11
Looking at `client-go` it seems informers is either one namespace or all as suspected. Unfortunately, it seems the only option would be to create a pool of informers watching individual namespaces and then aggregate their results. At this point, I'm not sure it's worth the effort.

[2019-05-30 15:35] sandeepsharmadevops opened #40 "OPA TLS based client authentication with kube-mgmt"
OPA authentication supports bearer token and TLS based.

- referencing document is available when OPA is configured with token-based authN and kube-mgmt, but what if OPA is configured with TLS base authN, in that case how kube-mgmt gets authenticated by OPA, does mgmt support any other cmd line flag to be passed
if yes please suggest with an example if possible
if not guide me about the solution c

[2019-06-02 12:16] sandeepsharmadevops opened #41 "kube-mgmt is not recompiling/rechecking the syntactical issues"
Hi @tsandall ,

Facing one strange issue, where for example i have deployment one configmap rego policy which then compiled and validated by kube-mgmt and loaded into opa server and annotated with status OK.

Post above if i made any syntactical error(intentionally just to validate) in the loaded policy by using kubectl edit configmap command, kube-mgmt annotate the status with ERROR, which is as

[2019-06-05 16:28] sandeepsharmadevops commented on #41
@tsandall observations:

Version:
- opa = 0.10.7
- mgmt = 0.8
- working status = working fine without any issue

Version:
- opa = 0.11.0
- mgmt = 0.8
- working status = facing described issue.

[2019-06-10 16:52] tsandall commented on #41
@sandeepsharmadevops that's surprising. I'll try to reproduce this problem in the next day or so. It sounds like updates to the configmap are not being propagated, but I'll need to turn on debug logging in OPA to check.

[2019-06-11 01:00] tsandall commented on #41
@sandeepsharmadevops thanks for filing this. This issue uncovered a bug in the OPA server that was introduced between v0.10.7 and v0.11.0. There will be a v0.11.1 release cut in the next day or so that resolves the problem.

[2019-06-11 09:45] sandeepsharmadevops commented on #41
thanks @tsandall for addressing this promptly, awaiting for opa server bug fix release

[2019-06-11 23:55] tsandall commented on #41
This is fixed in v0.12.0 which was released earlier this afternoon.

[2019-06-11 23:55] #41 closed

[2019-06-12 11:12] sandeepsharmadevops commented on #41
Thanks @tsandall for providing this very prompt release, i will validate it and confirm you.

Thanks again!!!!

[2019-06-13 11:13] sandeepsharmadevops commented on #41
Hi @tsandall  today i validated the latest opa release(0.12.0), working at first glance, i will share in case anything comes up during detailed implementation.

thanks.

[2019-06-21 13:27] muzcategui1106-gs opened #43 "kube-mgmt is not deleting unexistent k8s resources from opa cache after restart"
I am using kube-mgmt as sidecar to OPA to sync some kubernetes resources into OPA. I am currently facing an issue where some ingresses that no longer exist in the cluster still show up in OPAs data cache. kube-mgmt continously crashes +30 times in 2 days due to issues with the informer that it uses (see stack trace at the end). I am unable to replicate since I cannot make kube-mgmt purposely crash

[2019-06-21 17:39] tsandall commented on #43
A couple thoughts.

* We should probably update the client-go dependency since it's been quite a while. I don't think the currently vendored package is still supported. This might help with the problem but without digging into the code, this is just wishful thinking.

* Another option would be to have kube-mgmt wipe out the /kubernetes data in OPA when a resync occurs. This way we'd be guaranteed

[2019-06-25 21:11] muzcategui1106-gs commented on #43
It is actually very easy to replicate this issue, I dont know why I did not think about it before. To simulate simply separate kube-mgmt into a different pod

1. Create a opa pod and service
2. Create kube-mgmt pod. It should point to the opa service and sync ingresses
3. Create Ingress1, it should sync into the opa pod
4) Scale kube-mgmt to 0 replicas
5) Delete ingress1. At this point ingress1 st

[2019-06-25 21:14] muzcategui1106-gs commented on #43
@tsandall

I agree, those libraries should be updated regardless.

I am not sure if kube-mgmt should wipe out the entire data document for OPA as there  could be other systems that put stuff in it. One step forward is to make the informer wipe only the part of the data document managed by itself and resync.

Thoughts?

[2019-06-26 02:06] tsandall commented on #43
Wiping out just replicated path(s) is what I had in mind (but my message was a bit unclear.) If people are loading data into replicated path(s) (e.g., `kubernetes/ingresses`)...too bad.

[2019-07-08 20:15] tsandall commented on #43
@muzcategui1106-gs I've opened a PR that updates kube-mgmt to use client-go 0.11. Can you give this a try and let me know if it resolves the panic issue you were seeing? https://github.com/open-policy-agent/kube-mgmt/pull/44. Assuming the panics are resolved the original issue of OPA retaining stale resources should be resolved (since kube-mgmt and OPA share fate by running in the same pod, as lon

[2019-07-23 12:54] muzcategui1106-gs commented on #43
@tsandall sorry it has been hectic the last couple of weeks and I hadnt had the chance to chekc on this. I will put it today and leave it running for a couple of days, I can then check if there are no panic issues Does that sound like a sensible way of testing this? I have no way of actually trigger the panic issue on command.

[2019-07-23 13:06] tsandall commented on #43
@muzcategui1106-gs yep that sounds fine. I assume you expect resources like ingresses to get deleted like you reported before. Also, you don't have to configure this opa/kube-mgmt deployment to act as the admission controller. As long as kube-mgmt is running and replicating data into opa that should be sufficient (i.e., this shouldn't have to impact the environment.)

[2019-07-27 12:31] tsandall commented on #43
There's a tag on docker hub that you can use to test this: `openpolicyagent/kube-mgmt:0.9-rc1`.

[2019-08-01 16:08] miekg opened #47 "Move to Go modules?"
Hi, is there any appetite to move to Go modules? We use it for CoreDNS and works quite well.

Happy to send a PR that deletes 1M files :)

[2019-08-01 16:21] patrick-east commented on #47
I think in general most of the opa projects are looking to get away from glide and move to modules as they mature (with some landing on dep along the way).  I would be surprised if there was much in the way of push back if you put up that PR 😄

[2019-08-16 15:35] tsandall commented on #43
This should be fixed by #44

[2019-08-16 15:35] #43 closed

[2019-09-04 12:43] muzcategui1106-gs opened #49 "kube-mgmt throwing errors when pod has been running for quite some time"
Unsure if this is an actual issue or if I should log separate issues for each of them.

I am seeing a weird behavior in kube-mgmt after it has ran for a while; eg: more than 5 hours

1) This logs start appearing

2)  kube-mgmt seems to stop honoring the  --require-policy-label  as all the configmaps in the opa namespace get annotated with the `penpolicyagent.org/policy-status:` annotation

3) Reso

[2019-09-19 15:45] tsandall commented on #49
@muzcategui1106-gs can you show an example of a configmap that's annotated with policy-status that should not be? From looking at the configmap replication code in kube-mgmt, it's not obvious how this could happen.

[2019-09-23 13:17] muzcategui1106-gs commented on #49
Sure I not allowed to show an entire configmcannot show the entire configmap but only the error that I get ( i changed the filename in the error message)

**Version Info:
OPA: 0.14.0
Kube-mgmt: 0.9**

**Flags on kube-mgmt:**
`
          args:
            - "--replicate-cluster=v1/namespaces"
            - "--replicate-cluster=v1/persistentvolumes"
            - "--replicate=v1/persistentvolumeclai

[2019-09-23 13:52] tsandall commented on #49
@muzcategui1106-gs can you confirm whether the openpolicyagent.org/policy label is set on that configmap? I have a test deployment that is emitting the "Unable to decode..." error log but the configmaps are not being loaded incorrectly:

[code]

Logs:

[code]

[2019-09-23 14:41] muzcategui1106-gs commented on #49
the openpolicyagent.org/policy is not set only the annotation

[2019-10-01 19:00] tsandall commented on #49
@muzcategui1106-gs we've cut v0.10 which contains #50. This should reduce CPU usage during resync. As of yet, the configmap annotation problem is still unclear and I've not been able to reproduce it. Any hints you can provide would be helpful. Finally, @patrick-east has looked into the decode errors and has some thoughts.

[2019-10-01 19:09] muzcategui1106-gs commented on #49
@tsandall this is awesome so hopefully this should reduce CPU uses and increase resource sync. Will give it a try.

Regarding the configmap sync let me see what I can dig in the next couple of days :)

on the meantime I will start running 0.10 in  my dev environment

[2019-10-01 19:36] patrick-east commented on #49
Right, so looking into it these type of errors occur if the scheme wasn't registered with our client (which happens over here: https://github.com/open-policy-agent/kube-mgmt/blob/master/pkg/configmap/configmap.go#L104-L112 ). What isn't clear is what object came over the wire that it was unable to decode.

The current theory is that some object version/schema changed while kube-mgmt was running, o

[2019-10-02 08:07] rtoma opened #51 "structure of /v1/data/ in opa has changed with kube-mgmt 0.10-rc1"
We sync kubernetes namespace data to OPA.

With kube-mgmt 0.9 the response of `GET /v1/data/kubernetes/namespaces` is like:
[code]

With kube-mgmt 0.10-rc1 the response changed to:
[code]

Note the empty-string hash key.

[2019-10-02 12:49] tsandall commented on #51
@rtoma can you share the flags you started kube-mgmt with and the version of Kubernetes you're running against? I'm not able to reproduce this against Kubernetes v1.13 or v1.15.

[code]

kube-mgmt args:

[code]

[2019-10-02 12:52] rtoma commented on #51
I have tested `openpolicyagent/kube-mgmt:0.10-rc1` (b38f0386cfc1) on `v1.13.7-gke.24` with flags:
[code]

[2019-10-02 12:56] tsandall commented on #51
Ah, interesting. Your args should be `--replicate-cluster=v1/namespaces` not `--replicate=...`. The `--replicate-cluster` flag tells kube-mgmt the resource is cluster scoped while the `--replicate` flag tells kube-mgmt the resource is namespace scoped. It seems the new version of kube-mgmt behaves slightly differently here. Nonetheless, you'll want to use `--replicate-cluster`. See https://github.

[2019-10-17 14:28] rtoma commented on #51
Verified with kube-mgmt:0.10 with `--replicate-cluster=v1/namespaces` and everything is fine. Closing.

[2019-10-17 14:28] #51 closed

[2019-10-18 12:10] rtoma opened #52 "periods of missing data"
Hi,

We run OPA 0.13.2 and kube-mgmt 0.10 with replication of namespaces, services and ingresses. It is a 6 pod deployment on GKE 1.13.x. We upgraded kube-mgmt from 0.8 to 0.10 yesterday. To verify this upgrade we first added a custom metrics exporter that counts the result items in /v1/data/kubernetes/{namespaces,ingresses,services}.

Analysing the metrics today it seems we have gaps in the OPA d

[2019-10-18 15:38] patrick-east commented on #52
Any chance you can provide logs from kube-mgmt and OPA during one of the events where it drops to 0 and then recovers?

I'm primarily curious to see what kube-mgmt was doing when it dropped them to 0, and anything between then and pushing the data back. The OPA logs should help confirm when the API calls that were happening to clear the data occurred.

[2019-10-19 09:11] rtoma commented on #52
OPA is spewing serious amounts of logging, so we generally do not keep more logs than what Kubernetes does (not much). But we do have the OPA internal metrics exposed. When looking at it, I see calls to the webhook endpoint (POST on /) stop at the same time the OPA data is cleared.

As you may know makes the API server direct connections to OPA pods and not via the service. For efficiency these co

[2019-10-21 08:49] rtoma commented on #52
Even though I have not caught errors in the OPA logs, I do see OPA containers being restarted within the pod (kube-mgmt is not restarted), so that indicates issues with OPA. And the fact that the API server picks another pod at the same time supports the theory that OPA containers panic.

So I am now testing with OPA 0.13.5 (including some panic fixes) and kube-mgmt 0.10 right now.

🤞

[2019-10-21 17:35] patrick-east commented on #52
Looking forward to hear if 0.13.5 helps.

Another thing to check on/rule out is that the liveness probe for OPA didn't timeout. I have seen issues with that where OPA is under load and has too short of a timeout configured for the liveness probe. End result is similar where the OPA pods restart for no immediately apparent reason.

[2019-10-21 17:45] rtoma commented on #52
OPA 0.13.5 with kube-mgmt 0.10 still going strong after 10 hours. In this timespan we would have seen multiple API server reconnects (changes in what OPA pods handle the load), trigger by OPA pod panics. No such thing today:
![image](https://user-images.githubusercontent.com/2914051/67229108-ee038780-f43a-11e9-99e9-ddc857f13474.png)

In our case the liveness probes can be ruled out. Failing probes

[2019-10-22 07:33] rtoma commented on #52
Closing this issue. Upgrading OPA from 0.13.2 to 0.13.5 fixed the panics.

[2019-10-22 07:33] #52 closed

[2019-10-30 18:40] rtoma commented on #49
Hi @anderseknert, please add more details. Like: versions of OPA/kube-mgmt, the startup arguments and the full error.

[2019-10-30 19:27] anderseknert commented on #49
Hi @rtoma, and thanks for reaching out. Here are some of the details. Let me know if you need more.

OPA image: `docker.io/openpolicyagent/opa:0.14.2`
Startup arguments `run --server --authentication=token --authorization=basic --ignore=.* /policies/authz.rego`

kube-mgmt image: `openpolicyagent/kube-mgmt:0.10`
Startup arguments: `--opa-auth-token-file=/policies/token --require-policy-label=true -

[2019-10-30 19:40] rtoma commented on #49
Hi, our kube-mgmt logging is full of these errors without functional impact. Which is confirmed by:

So maybe focus on the 'issues syncing kubernetes resources' which clearly has a functional impact.   Maybe it is an idea to create a script that makes /v1/data calls on all pods every minute and compare the results? We've created a metrics collector (which I can not share) for this purpose. Another

[2019-10-30 20:41] anderseknert commented on #49
Thanks @rtoma. Yeah we are definitely looking at using OPA at a larger scale. So far I have some tests in place, and more definitely to come - though currently they all point to an ingress controller just like the actual authorization webhook that we're looking at using OPA for as our first proof of concenpt. It's from these tests I've noticed different results on re-running tests though nothing i

[2019-10-30 22:14] anderseknert commented on #49
So my tests work something like this:

1. In the setup, create and deploy a kubernetes resource.
2. Verify that I can run policy queries targeting OP with aforementioned resource as data.
3. Teardown, delete kubernetes resource.

Sleeping 60 seconds between 1 and 2 seems to solve the problem I had with data getting out of sync, so this seems like a problem with my tests rather than with kube-mgmt.

[2019-10-30 22:31] anderseknert opened #53 "Allow filtering attributes for caching"
Using the caching feature to sync kubernetes resources we currently load about 25 MB of data into each OPA container. Only about 1% of this data is ever used for authorization decisions however. While OPA still performs very well it is a lot harder to browse the data on a running server since 99% of it is essentially noise. Somehow enabling syncing only the data of interest rather than full object

[2019-11-18 13:28] manicole commented on #40
Is it still pending, or is the TLS based authn available in recent releases ? Thanks

[2019-11-25 12:53] tsandall commented on #40
kube-mgmt only supports token-based auth/n at this point in time. Single machine-vs-within Kubernetes should not matter since it's the Go HTTP client that needs to be configured w/ a client certificate in order for TLS-based authentication to be used.

[2019-11-27 09:02] manicole commented on #40
OK I understand, thanks for answering :)

[2019-12-18 18:26] stefansedich opened #55 "--policies=* does not appear to be working"
Given the following deployment:

[code]

And given the following configmap:

[code]

kube-mgmt does not appear to be loading the configmap at all, if I were to set `--policies=test` with an explicit namespace it will load the configmaps fine.

I was under the impression that `--policies=*` will load from any namespace?

[2019-12-19 21:08] patoarvizu commented on #49
Will anything be done about the `no kind "Status" is registered for version "v1"` error? It's kind of confusing and can make debugging harder.

Is it an issue with the Kubernetes version? I'm seeing it on both a 1.12 and a 1.15 cluster.

[2020-01-02 21:29] ashutosh-narkar commented on #55
Yes with `--policies=*` kube-mgmt should look for policies in all namespaces.  Since you also specified `--require-policy-label=true`, have you also labelled the configmaps in the other namespaces ?

[2020-01-02 21:31] stefansedich commented on #55
Yup I had done that @ashutosh-narkar, I could only get it to pick up poliies when using --policies=a,b,c and being explicit with namespaces.

[2020-01-07 21:52] arminfelder opened #57 "make the image rootless"
make the image rootless to e.g. comply with runAsNonRoot

[2020-01-13 17:19] #57 closed

[2020-01-15 03:13] stefansedich commented on #55
@ashutosh-narkar could I be missing anything else here? have tried varios things and had no luck with --policies=*

[2020-01-15 17:08] ashutosh-narkar commented on #55
You can remove `--enable-policies=true` as it's `true` by default (https://github.com/open-policy-agent/kube-mgmt/blob/master/cmd/kube-mgmt/main.go#L71).  Also may be try enclosing the arguments in quotes eg `"--policies=*"`.  Let me know if this doesn't work and I can try this out.

[2020-01-15 17:11] stefansedich commented on #55
No luck @ashutosh-narkar, no combination of quotes gets it working using --policies=* but as soon as I change it to --policies=test being the namespace my policy is in it loads it fine.

[2020-01-15 23:53] ashutosh-narkar commented on #55
Ok @stefansedich , I will try this out too.

[2020-01-16 13:53] tsandall commented on #49
I took another look into the `no kind "Status" is registered` error message and found (what I think is) a solution. I've posted a PR w/ the one-line fix #58. I'll merge this fix later today and cut a release.

[2020-01-16 14:00] muzcategui1106-gs commented on #49
@tsandall yes when the release comes out, I will test out the changes in our dev environment

[2020-01-16 14:24] alebedev87 opened #59 "Namespace of JSON loaded data"
Hello,

I'm using the external data loaded from a ConfigMap labeled `openpolicyagent.org/data=opa`.
README.md says that I need to know the namespace of this ConfigMap when I try to access its data from a policy: `data.<ns>.<key>`.

I have 2 questions about this:

- What is the best way to get the namespace where I put the data ConfigMap? (Workaround I found: use `opa.runtime()` which gives me all

[2020-01-16 16:20] tsandall commented on #49
@muzcategui1106-gs great. There's a new openpolicyagent/kube-mgmt:0.11
image on Docker Hub that you can try out. Please let me know if this
resolves the issue.

On Thu, Jan 16, 2020 at 9:00 AM muzcategui1106-gs <notifications@github.com>
wrote:

--
-Torin

[2020-01-21 15:12] tsandall commented on #59
I suspect that users are hardcoding the namespace in their policies today. @iverberk do you have any thoughts on this?

yes, the namespaces specified by `--policies` will get used.

[2020-01-22 12:20] alebedev87 opened #61 "Automatic policy removal using ConfigMap's label"
Hello,

I can see that the policy is removed from OPA if the corresponding ConfigMap is deleted.
However, I expected the same behavior when I simply remove `openpolicyagent.org/policy=rego` label from the policy's ConfigMap.

Can you please advice whether the removal by label is intentionally disabled or not?

kube-mgmt version: 0.10
Flags used:
[code]
Kubernetes version: v1.11.0+d4cacc0 (via Open

[2020-01-22 16:05] iverberk commented on #59
We are indeed hardcoding the namespace because we know where we will put the data configmap beforehand. I don't have any other suggestions on how to do it dynamically unfortunately.

[2020-01-28 16:42] DarthVader2409 opened #63 "trouble loading policy, kube-mgmt logs throwing error"
I am trying to roll out opa with helm chart. The chart was successfully rolled out but now I am having trouble enforcing the policy.

**Version of Kubernetes**:
k8s- v1.15.6
opa- opa:0.15.1
kube-mgmt- 0.10

**What happened**:
my config map looks like this
[code]

[code]

I went ahead and looked up my kube-mgmt logs and it shows-
[code]

**What you expected to happen**:

Expected the policy to be e

[2020-01-28 16:59] ashutosh-narkar commented on #63
`openpolicyagent/kube-mgmt:0.11` should solve the `no kind "Status" is registered` issue. Here's the original issue https://github.com/open-policy-agent/kube-mgmt/issues/49.

I would recommend unit testing the polices prior to use https://www.openpolicyagent.org/docs/latest/policy-testing/

[2020-01-28 17:23] patoarvizu commented on #55
I'm seeing similar behavior but it seems to be inconsistent. One thing I noticed that I could kind of consistently reproduce but didn't make sense is that if I launch with `--policies=* --require-policy-label=false`, it won't discover policies even if they're in the `opa` namespace **and** have `openpolicyagent.org/policy: rego` on the `ConfigMap`. However, if I then set `--require-policy-label=fa

[2020-01-28 22:30] DarthVader2409 commented on #63
Thanks @ashutosh-narkar ! Using openpolicyagent/kube-mgmt:0.11 fixed that issue.
But my policy is still not enforced even though it is getting annotated.
There are no error logs in kube-mgmt and opa containers.
I have tested my policy [here](https://play.openpolicyagent.org/) and it works fine (It is the standard policy of image being pulled from a specific registry). Here is my config map
[code]

[2020-01-29 01:01] ashutosh-narkar commented on #55
Thanks @patoarvizu for helping to reproduce the issue. Sorry about the delay in looking into this. I'll try to reproduce this myself tomorrow.

[2020-01-29 01:14] tsandall commented on #49
We've confirmed that v0.11 fixes the logging issue. Since the logging problem and the resource sync issue have been resolved, I'm going to close this for now.

[2020-01-29 01:14] #49 closed

[2020-01-29 01:21] ashutosh-narkar commented on #63
Can you share your OPA logs ? Do you see any `POST` requests in the logs ? Also sharing your manifest would help.

[2020-01-29 01:39] DarthVader2409 commented on #63
Yup I can see post requests in my opa logs.
Here is a gist of my opa logs https://gist.github.cerner.com/ar071755/22aa595d324ffa69298642e34ba46f68

Here is the generated manifest-
https://gist.github.cerner.com/ar071755/545a041e20eb51e5fd4acd345a038dda

[2020-01-29 01:42] DarthVader2409 commented on #63
Yes I can see POST request in my OPA logs
Manifest file https://gist.github.com/DarthVader2409/fbf1f7a10ce3f560d8f4268edc57d1a0
OPA logs https://gist.github.com/DarthVader2409/4b07c9b455aaa0a3bd9e1ac678244045

[2020-01-29 01:42] tsandall commented on #59
I'm going to close this because I don't think there's anything to be done at this point in time.

[2020-01-29 01:42] #59 closed

[2020-01-29 01:47] ashutosh-narkar commented on #63
Can you set the log level to `debug` https://gist.github.com/DarthVader2409/fbf1f7a10ce3f560d8f4268edc57d1a0#file-helm_opa-L197

[2020-01-29 01:54] DarthVader2409 commented on #63
https://gist.github.com/DarthVader2409/7ad1b049686d9f9410e4b522319b7f71

[2020-01-29 02:04] ashutosh-narkar commented on #63
I don't see any create request for a resource like pods in the logs. What requests are you executing ?

[2020-01-29 02:13] DarthVader2409 commented on #63
I am doing a
`kubectl apply -f https://k8s.io/examples/controllers/nginx-deployment.yaml -n myspace`
But policy is not stoping deployment from pulling images from that registry and the deployment is getting created.

[2020-01-29 02:15] DarthVader2409 commented on #63
[code]

[2020-01-29 05:48] ashutosh-narkar commented on #63
1) I would have expected to see a deployment creation event in the OPA logs when the `kubectl` command is executed.

2) Apart from the Config Map you posted as there any other Config Maps that contain policy ?

[2020-01-29 06:10] DarthVader2409 commented on #63
1. That is right. If OPA logs could see the event then it would have executed the policy, but in this case OPA is unable to intercept that event somehow.

2. This is the only config map that contains policy.

[2020-01-29 06:52] ashutosh-narkar commented on #63
By default, when a POST is made to `/`, OPA will query the document at `data.system.main` for a decision unless the `default_decision` parameter is set in the OPA config.  ```"response": {
          "allowed": true
        }``` looks like OPA is querying something to get a decision.  Hence I asked if there is some other policy loaded somewhere.

Also check the Kube api server logs for any relevant

[2020-01-29 20:53] ashutosh-narkar commented on #55
I could reproduce the issue and the implementation for the `--policies=*` feature doesn't seem to be doing what it's supposed to. Working on fix for it.

[2020-01-29 20:58] tsandall commented on #61
Fixed by #62.

[2020-01-29 20:58] #61 closed

[2020-01-30 02:15] ashutosh-narkar commented on #55
PR: https://github.com/open-policy-agent/kube-mgmt/pull/64.

As mentioned in the PR commit, the `--policies=*` option was breaking the config map matching logic. It would appear to work (mistakenly) in cases where `--policies=*` is set and `--require-policy-label=false` but the config map had the label `openpolicyagent.org/policy=rego`. This behavior was observed by @patoarvizu as well.

[2020-01-30 17:20] DarthVader2409 commented on #63
[code]

kube api server logs looks normal.
I was wondering that I am generating the manifest using helm chart and my values.yaml file contains this section:
[code]
Would it be because of bundle declared here it is making these "allow" response to query. From my testing I have seen that if I remove this block my POST requests results in 404 error as it won't find the document in data.system.main

[2020-01-30 17:49] ashutosh-narkar commented on #63
You can examine the policy in that bundle by doing:

[code]

Check if that's allowing your requests to go through.

[2020-01-30 19:06] #55 closed

[2020-01-31 00:35] DarthVader2409 commented on #63
I examined that bundle, it just has ingress_whitelist policy but  that policy is also not getting executed, I verified that.

I followed the opa getting started tutorial and it was a cake walk to get my policy enforced. But generating manifest using helm is the issue. I think something is up with public helm chart stable/opa. Have you ever tried to generate manifest using that?

[2020-01-31 00:57] ashutosh-narkar commented on #63
I haven't tried the helm chart. I assume you are following [this](https://github.com/helm/charts/tree/master/stable/opa).

Also the config map policies are disabled by default https://github.com/helm/charts/blob/master/stable/opa/values.yaml#L126.

[2020-01-31 00:59] DarthVader2409 commented on #63
Yes this is what I am following. I have enabled the config map policies, added rules to rbac and also included the label in my policy configmap.

[2020-01-31 01:10] ashutosh-narkar commented on #63
From the OPA debug logs you sent, I would have expected to see some logs corresponding to the below command you executed:
```kubectl apply -f https://k8s.io/examples/controllers/nginx-deployment.yaml -n myspace```

When you run the above command, do you see any OPA logs ?

[2020-01-31 01:23] DarthVader2409 commented on #63
[code]

[2020-01-31 16:40] ashutosh-narkar commented on #63
I would have expected more of a deployment/pod etc. creation log. I noticed your manifest is different from the stable helm chart.  Have you been able to get that working as is ? Also there could possibly been an issue with the helm chart as well.

[2020-01-31 17:07] DarthVader2409 commented on #63
I am a part of Managed Kubernetes team and we manage a large number of clusters. we have enabled some Pod Security Policies, so to get the helm chart to working I had to add those psp's and that is the only other thing I have added to the helm chart to get that working. I had to do the same for getting the OPA tutorial to work too.

[2020-01-31 17:32] ashutosh-narkar commented on #63
Ok. The OPA response ```"response": {
          "allowed": true
        }``` makes sense as OPA is not getting the event you expect to be denied. What would be the best way to reproduce what your doing ? What's in https://k8s.io/examples/controllers/nginx-deployment.yaml ?

[2020-01-31 17:47] ashutosh-narkar commented on #63
What's the best way to reproduce what you are doing ?

[2020-01-31 17:59] ashutosh-narkar commented on #63
This is the input OPA gets from what you've posted. Notice the container has already started.
[code]

Typically I would expect an input like:

[code]

[2020-01-31 18:03] DarthVader2409 commented on #63
I see what you are looking for, let me dig in my log. Meanwhile interesting thing is that, I just queried OPA to see the policy it is loading , turns out it is loading the policy from that bundle we discussed earlier which has ingress whitelist policy and yesterday I applied an ingress_bad.yaml file and that went through without any restrictions.

**Steps to reproduce:**
1. Clone https://github.co

[2020-01-31 18:30] DarthVader2409 commented on #63
tbh I am not quiet able to make sense of [this](https://gist.github.com/DarthVader2409/327314cf10e22a67f989365c80e3ba5b) log.

I can see `"req_path": "/v1/policies/opa-test/admission-control/admission-policy.rego"` in some logs. and my deny message as well. But even then the deployment is getting created later.

[2020-01-31 19:01] DarthVader2409 commented on #63
Here are the logs for create, pulled image and start container https://gist.github.com/DarthVader2409/c38a7fd2da82023a66a845a6a613bc6f

[2020-01-31 19:19] DarthVader2409 commented on #63
I took a closer look on my query to OPA for inspecting all the loaded policy. Turns out my policy is . also up there.
[code]

[2020-01-31 19:20] DarthVader2409 commented on #63
This might be the reson it shows up in the log. But I have no answer for the reason it is not getting enforced.

[2020-01-31 19:50] ashutosh-narkar commented on #63
I'll have to try this out. Could be an issue with the chart too.

[2020-01-31 20:00] DarthVader2409 commented on #63
Thanks Ashutosh for taking out time to look into this! Appreciate your help. I really like the OPA concept, having a reliable helm support for this would make it easy to roll out and keeping up with all latest images and stuff.

[2020-01-31 23:20] ashutosh-narkar commented on #63
Your [values.yaml](https://gist.github.com/DarthVader2409/678f3d53b97aeded326d3ec933535d85#file-values-yaml-L8-L16) just like the default one is using bundles. That bundle owns the root `kubernetes.admission`. So when you try to load your policy with that same root, the bundle will overwrite it and hence your policy won't get enforced. More info on this can be found [here](https://www.openpolicyag

[2020-01-31 23:21] ashutosh-narkar commented on #63
In the long run, you would want to load your own polices using bundles.

[2020-02-01 06:02] DarthVader2409 commented on #63
Ah, that bundle part was really confusing and throwing me out. I tried to remove it but then I was getting a 404 because I was missing main.rego config map. Got it now. Thank you for all your help and time. Really appreciate it!!! This is not very intuitive for a new user, I have seen some other people posting similar questions on their github. So I will make p/r to upadate the helm opa readme wit

[2020-02-01 06:14] #63 closed

[2020-05-04 20:54] gregsidelinger opened #67 "Can not load configmap data from a namespace with a dash in it's name"
After following the instructions for [json-loadin](https://github.com/open-policy-agent/kube-mgmt#json-loading) I could not access the data being loaded if the namespace contained a dash. I've using kube-mgmt v0.11.

Here is an example configmap modified from the example in the docs I was using for testing.
[code]

When applied I should see a log like so in OPA however there are no logs related to

[2020-05-04 22:18] patrick-east commented on #67
Thanks for filing the issue!

Can you share the `kube-mgmt` logs and deployment configuration (in particular the arguments passed in for `--policies`)?

[2020-05-04 22:48] gregsidelinger commented on #67
Here are the logs, nothing special is ever printed.
[code]

Here is my full deployment generated using the stable/opa helm chart.  Policies is currently set to false but it was true at one point in time and I turned it off since I was not using it currently.  Also it looks like I'm using v0.10 in this deployment.  I did try v.0.11 too.  I also removed the policies from the deployment to cut out a

[2020-05-04 23:00] patrick-east commented on #67
👍 Perfect

Can you try adding `--policies=opa-data` to the `mgmt` container's `args`?

I did a little bit of digging around in the code and it looks like it will only match configmaps if they are in the namespaces configured via the CLI arguments, https://github.com/open-policy-agent/kube-mgmt/blob/c7d38d3892e5a5ca016ac4d0d17734523ab5aef5/pkg/configmap/configmap.go#L54

That parameter looks like i

[2020-05-04 23:35] gregsidelinger commented on #67
That was it.  And of course me using the namespace opa as an test case worked since that is one of the default namespeces it reads from when --policies is not specified.

[2020-05-05 01:42] patrick-east commented on #67
Glad to hear it. I opened up https://github.com/open-policy-agent/kube-mgmt/pull/68 to update the README to point this config detail out a little more clearly.

[2020-05-21 19:08] pieterv-icloud-com opened #69 "arm support"
I tried deploying opa using helm on a Rancher k3s cluster running on a number of Raspberry Pis.

The deployment fails with an "exec format error" message

opa only supports the amd64 architecture, not the arm/v6 architecture.

[2020-06-24 14:08] ajoysinha opened #74 "kube-mgmt with istio as opa side car"
This is not an issue but a query.

I am implementing with OPA as sidecar in istio and Kubernetes. I am successfully installed this combination using OPA - ISTIO - plugin.
[https://github.com/open-policy-agent/opa-istio-plugin](url)

But, want to implement kube-mgmt also, do we have any recommended approach for the same.

[2020-06-24 17:16] rosskusler commented on #11
Some of us are using kube-mgmt for things other than an admission controller and we don't always have the ability to access resources in every namespace. For these use cases it would be really useful if we could specify a list of namespaces on a per resource type basis.   Something along the lines of:

--replicate=v1/pods:default,ns1,ns2
--replicate=v1/secrets:ns3

This would only allow us to repl

[2020-06-24 18:45] ashutosh-narkar commented on #74
@ajoysinha can you elaborate on your use-case ?  What role would `kube-mgmt` play ?  Are you looking into distributing policy and data to the OPA sidecars ?

[2020-06-25 14:42] tsandall commented on #11
@rosskusler that seems reasonable. PRs are welcome.

[2020-07-06 15:17] albqmasqeet opened #75 "High CPU usage in OPA containers"
Trying to use opa and kube-mgmt in a cluster to replicate nodes, deployments and statefulsets is causing high cpu (almost 2 cores) in OPA. When I disable replication of these objects CPU usage goes back to 1 millicore.

Number of cluster objects are as follows:
Nodes: 171
Deployments: 2021
StatefulSets: 171

When we hit high CPU, OPA is not responsive and returns failures for all updates from kube

[2020-07-06 18:57] patrick-east commented on #75
Can you provide some details about what versions are being used? Please also provide logs of the errors you are seeing.

kube-mgmt does batch the requests for initial synchronization as of v0.10 (see https://github.com/open-policy-agent/kube-mgmt/pull/50) after that it is sending over objects as they change. Do you have a large amount of churn on the objects? Or is it the initial loading that is c

[2020-07-08 19:39] drewwells opened #76 "Use the bundle API"
OPA has a readiness probe that leverages bundle API. This is the best way to ensure OPA is ready on initial start and guarantees it consistently keeps up to date with policy changes. Let me describe an example we are faced with the push approach.

acme service is deployed with a opa sidecar. acme becomes ready and accepts requests. opa does not have a readiness probe b/c it is unaware of what data

[2020-07-08 19:49] tsandall commented on #76
@drewwells can you clarify what the issue or feature request is? I'm not sure what you're looking for exactly.

kube-mgmt just replicates things from the Kubernetes API into OPA. It can replicate policies (stored in configmaps), arbitrary JSON data (also stored in configmaps), or arbitrary Kubernetes resources. The Bundle API provides another mechanism for loading policy & data into OPA. That API

[2020-07-15 13:07] ajoysinha commented on #74
I am trying to update OPA with changed policy deployed in cluster. please note my policy is deployed as config map. [ not as bundle ]. I want to update / reflect changed policy in OPA as soon as i am updating the config map. I was planning to use kube-mgmt for the same.. Do not have cleat idea how to achieve it.

[2020-07-15 17:04] ashutosh-narkar commented on #74
You would need some sidecar that's watching config map changes and then pushes them to OPA via OPA's REST API. There maybe parts of the kube-mgmt code that could be used for this. I would recommend using bundles for this though.

[2020-07-16 06:38] ajoysinha commented on #74
I will also prefer to use bundle for the same .. [ in fact i have implement it successfully ]  but the only issue i find with bundle it is a pull mechanism, rather than push mechanism.

Any suggestion how i can implement the same using push mechanism.

[2020-07-16 07:40] ashutosh-narkar commented on #74
Bundles are as you mentioned a pull mechanism. OPA does allow you to adjust the polling frequency and fwiw we have an open issue for faster propagation of policy and data changes with bundles [#1055](https://github.com/open-policy-agent/opa/issues/1055) which may better suit your use-case.

The push mechanism will require you to implement a service similar to `kube-mgmt` that reads data from Kube

[2020-08-24 17:01] shasti86 commented on #10
Do we still need this feature? Does gatekeeper support this already? @tsandall

[2020-08-24 18:09] tsandall commented on #10
@shasti86 it's not implemented in gatekeeper AFAIK. It would be nice to have however it's not a priority.

[2020-10-13 20:42] drewwells commented on #76
That is my use case here. I want to know when data is loaded, which is only currently possible from bundles. We are internally working on an operator pattern based on CRs. The CR would name any configmaps, policies, and data to load. It would package all of these assets up then push them to OPA. In this way, you can tie the OPA readiness probe to the state of the bundle.

[2020-10-20 08:11] freegroup commented on #59
the issue is closed but maybe worth to discuss.

we use our policies in different environments like CloudFoundry, K8S, simple EC2 Instances and the developer, which generates the rego files, should not care about the landscape where the rego files are deployed.

From my point of view referencing the namespace and config-map name in the rego files is not a good pattern. You are mixing deployment an

[2020-10-21 15:04] tsandall commented on #76
That makes sense--but I think it would need to be implemented outside of OPA--either inside your operator or inside kube-mgmt. The readiness check could then be added on the operator or kube-mgmt. I'm going to close this issue because it sounds like you've solved this inside your own operator.

[2020-10-21 15:04] #76 closed

[2020-10-21 18:30] shayfisher opened #77 "Kubernetes admission request generator"
When testing policies with k8s I think it would be beneficial to have some kind of admission request generator so I could test policies on my IDE (vscode) without deploying to a k8s env such as minikube.
Also, it would be helpful to get like a snapshot data json to simulate how OPA would cache information requested - e.g, if I ask OPA to cache v1/namespaces, how will the output data object will lo

[2020-10-22 12:42] drewwells commented on #76
Yes I do think it's useful to kube-mgmt to add readiness checks for policy + data. Our closed source operator won't be of much help to the larger community looking for declarative configuration of OPA. It should be a feature that kube-mgmt offers both declarative policy configuration and readiness checks.

[2020-10-22 16:45] tsandall commented on #77
Unfortunately neither of those exist at this point in time. For the admission request generator, you could write a simple function in your test suite to generate the appropriate structure, e.g:

[code]

Then you can call this function your tests:

[code]

Also, it's worth pointing out that you can specify paths in `with` statements:

[code]

Sometimes this makes test fixtures easier to specify.

[2020-10-26 10:24] shayfisher commented on #77
Hi @tsandall ,
Thank your answering.

I will check it.

[2020-11-10 19:42] tsandall opened #78 "Migrate to GitHub Actions"
We should migrate to GitHub actions as travis-ci.org is being shutdown in December.

[2020-12-09 17:59] #78 closed

[2021-01-15 18:49] #77 closed

[2021-02-08 19:07] jutley opened #82 "Allow setting CA certificate and/or running an insecure https connection"
Currently, kube-mgmt can connect to OPA using HTTPS, but it is not possible to do so if OPA's certificate is signed by an internal CA.

In order to support this scenario, kube-mgmt should include flags to either specify a file containing OPA's CA, allow insecure connections, or both.

[2021-02-11 08:29] #82 closed

[2021-02-25 08:31] maazshaik opened #84 "Alpine base image"
This is a question regarding base image of kube-mgmt

The **0.11 release** of kube-mgmt is using **alpine VERSION_ID=3.11.2**, This version has the below vulnerability

**CVE-2020-28928**
In musl libc through 1.2.1, wcsnrtombs mishandles particular combinations of destination buffer size and source character limit, as demonstrated by an invalid write access (buffer overflow).

The above vulnerabil

[2021-02-25 14:54] #84 closed

[2021-02-25 14:54] tsandall commented on #84
@maazshaik thanks for filing this. I've just pushed a patch to the Dockerfile to pin to alpine:3.12.3. I'll cut a release once the build finishes.

[2021-02-25 19:44] tsandall commented on #84
v0.12 should be available now.

[2021-02-25 19:51] maazshaik commented on #84
@tsandall Thanks for the quick resolution.

[2021-03-10 20:40] prabushyam opened #88 "Customize configmap policy label key/value"
We have a setup to run OPA validating and mutating webhooks as two different k8s deployments. Now, we would want the policy configmaps for validating and mutating hooks to be distinguished. Unfortunately the configmap label key/value is [hard-coded](https://github.com/open-policy-agent/kube-mgmt/blob/c1e29c8f0e40dfa392e9d085d879783102b1984a/pkg/configmap/configmap.go#L27-L29) and both OPA instance

[2021-03-10 21:34] tsandall commented on #88
@prabushyam that sounds reasonable to me! If you want to submit a PR, feel free! Just make the sure the default for the CLI option is the same as the current so that users aren't impacted when they upgrade.

[2021-03-12 21:58] kirk-patton commented on #88
https://github.com/open-policy-agent/kube-mgmt/pull/89

[2021-03-13 22:49] jdef opened #90 "redundant configmap patch operations"
https://github.com/open-policy-agent/kube-mgmt/blob/191879ecb3633b2d9ac849ec2ef441241a4ed0bd/pkg/configmap/configmap.go#L250

there appears to be no check on the configmap annotations here, to only issue a PATCH to apiserver if the desired value is different than the current. i started investigating this because our OPA policies rarely change, yet I see PATCH requests constantly issued to apiserve

[2021-03-15 13:40] tsandall commented on #90
I suppose kube-mgmt could perform a `bytes.Equal` check on the configmap data. That said, what's the actual problem you're observing? Those updates are only sent when there's a watch even on the configmaps. Either something on the configmaps is changing or k8s is just firing spurious watch events...

[2021-03-15 19:32] jdef commented on #90
"updates are only sent when there's a watch event..."

AFAICT there's a full resync that happens every minute:
https://github.com/open-policy-agent/kube-mgmt/blob/191879ecb3633b2d9ac849ec2ef441241a4ed0bd/pkg/configmap/configmap.go#L146

.. which corresponds to the audit logs in my cluster; and the update is hitting the apiserver, even when there are no configmap changes.

[2021-03-15 19:34] jdef commented on #90
from the `cache` API docs re: informers:
[code]

[2021-03-16 12:57] tsandall commented on #90
ah, @jdef you're right...sorry, it's been a while since I've looked at this code.

Feel free to submit a patch if you like.

[2021-03-16 13:40] jdef commented on #90
I would, but I already have a stack of aging (~1yr) OSS patches that have
yet to clear our legal department. As much as I'd like to patch this myself
in OPA upstream, I'm afraid that I'll be unable to do so until corporate
red tape has cleared.

I would be grateful if someone in the OPA community could spend 15m on this
- thanks!

On Tue, Mar 16, 2021 at 8:57 AM Torin Sandall ***@***.***>
wrote:

[2021-03-16 14:11] jdef commented on #90
/cc @pires

[2021-03-18 06:12] edify42 opened #91 "New release?"
Sorry to annoy, but would love to see a new helm chart released with this merged change https://github.com/open-policy-agent/kube-mgmt/pull/86

:heart:

[2021-03-26 05:35] edify42 commented on #91
Tagging @tsandall

[2021-03-26 13:55] tsandall commented on #91
! Happy to cut a release. For the helm update, does anything have to happen beside bumping this value? https://github.com/open-policy-agent/kube-mgmt/blob/master/charts/opa/values.yaml#L126

[2021-03-29 05:56] edify42 commented on #91
Hey @tsandall ! Thanks for your fast response :)

It's actually to include this line: https://github.com/open-policy-agent/kube-mgmt/blob/master/charts/opa/templates/webhookconfiguration.yaml#L3

Our k8s setup uses k8s 1.19 which is built with a newer version of Golang that deprecated some legacy x509 certificate config. Another issue i dug up has seen a similar problem: https://github.com/kubeflo

[2021-03-29 08:59] HarshitaJha opened #92 "Availability of metrics for kube-mgmt"
This is a question, not an issue.
I am trying to monitor the OPA running on my K8s cluster via prometheus and grafana. Can you please tell me if there are metrics for kube-mgmt? Are they exposed on the metrics endpoint to be scraped by Prometheus?

[2021-03-29 12:31] phisco commented on #92
Hi @HarshitaJha, let me better understand, do you mean you are already aware of the `/metrics` endpoint exposed by open-policy-agent and would like to know if kube-mgmt is exposing its own metrics at some endpoint or via the same endpoint in some way?

[2021-03-29 13:19] HarshitaJha commented on #92
Yes, I am aware of the /metrics endpoint at which OPA exposes its metrics. I want to know if kube-mgmt also exposes its own metrics on the same endpoint or some endpoint. Please clarify on this.

[2021-03-29 13:50] phisco commented on #92
AFAIK there is none and after a quick search, I couldn't find any reference to metrics being exposed by kube-mgmt directly. Maybe @tsandall could help.
What kind of metrics would you be interested in kube-mgmt exposing?

[2021-03-29 14:01] tsandall commented on #92
kube-mgmt doesn't expose a /metrics endpoint because it's essentially stateless and just watches configmaps and other kubernetes resources and replicates them into OPA. It doesn't even expose an HTTP server today.

[2021-03-29 14:06] phisco commented on #92
That was my understanding and expectation, thanks @tsandall.
@HarshitaJha I think we can close this issue, if you have any suggestion about metrics you'd like to have exposed by kube-mgmt feel free to write them down here.

[2021-03-29 14:06] #92 closed

[2021-03-29 14:11] HarshitaJha commented on #92
Thanks for the clarification @phisco and @tsandall .

[2021-03-29 14:47] phisco commented on #91
Hi @edify42, we will cut 0.12.1 right away.

[2021-03-29 15:52] phisco commented on #91
Hi @edify42, the new helm chart should be available, still version 1.14.6 of the chart (we have to decide the versioning policy of the chart).
Please give it a go and let us know.

[2021-03-29 15:52] #91 closed

[2021-03-29 16:52] phisco opened #95 "[Helm] better default for namespaces list passed via `--policies`"
The [default](https://github.com/open-policy-agent/kube-mgmt/blob/master/charts/opa/values.yaml#L138) doesn't make much sense. We could at least have an empty list as default and set the release namespace if left empty, otherwise use the provided list.

[2021-03-29 18:19] hochuenw-dd opened #96 "Deployment issue with generateAdmissionControllerCerts"
Hi,
Users can use `generateAdmissionControllerCerts ` to ask the chart to generate the certs for them during the deploy. So it seems every new deploy will use new certs when this flag is true?
If this is the case, I'm wondering if this will cause some issues.
During the deploy, depends on how the maxUnavailable is set, you may have some new pods using new certs and old pods using old certs.
If the

[2021-03-30 04:16] edify42 commented on #91
Thanks all! Works a treat now :+1:

[2021-03-30 15:12] phisco commented on #96
Hi @hochuenw-dd, I'm pretty sure the generated CA and cert are not generated again for a single release, but I should test it.

Did you do any test to validate your supposition?

Nonetheless, I don't think a production deployment should set `generateAdmissionControllerCerts` to true and rather use Cert-Manager if possible.

[2021-03-31 06:01] hochuenw-dd commented on #96
Hi @phisco , I simply updated the resources.requests.cpu in values.yaml and noticed the caBundle in the webhookconfiguration is changed.

[2021-03-31 08:00] phisco commented on #96
Ok, so, the only problem would be with resources being applied during a multi-replicas open-policy-agent webhook rollout. That could be considered acceptable, in my opinion.

I still think you should not use the `generateAdmissionControllerCerts` functionality in prod, so I'm not sure we should dig deeper into how to avoid that. If you don't want your certificate regenerated you should just pass y

[2021-03-31 08:00] #96 closed

[2021-04-01 00:26] venuthang03 opened #97 "querying /v1/data while using kube-mgmt+configmaps+OPA returns {}"
time="2021-04-01T00:21:18Z" level=warning msg="First line of log stream."
E0401 00:21:18.310694       1 reflector.go:126] github.com/open-policy-agent/kube-mgmt/pkg/configmap/configmap.go:174: Failed to list *v1.ConfigMap: Get https://<IP>:443/api/v1/namespaces/opa/configmaps?limit=500&resourceVersion=0: dial tcp <IP>:443: connect: connection refused

OPA logs shows policies loaded up through conf

[2021-04-01 00:35] venuthang03 commented on #97
****

[2021-04-01 00:35] #97 closed

[2021-04-02 20:51] tallclair opened #99 "Reuse Kubernetes client across replicated resources"
Is there a reason that kube-mgmt creates a new kubernetes client for each replicated resource type? I think it should be more efficient to create a single Kubernetes client that's used for all k8s api requests.

[2021-04-02 21:07] tsandall commented on #99
No particular reason.

It hasn't been an issue AFAIK but if you'd like to submit a PR, that would be great.

[2021-06-10 18:18] tallclair opened #100 "Document the set of OPA APIs that kube-mgmt uses"
For the purposes of setting a least-privilege authorization policy on OPA, it would be useful to have a list of OPA APIs that kube-mgmt uses.

Optionally, a sample authz policy would be even better for my specific case.

[2021-06-10 18:50] tsandall commented on #100
It depends on your case, because kube-mgmt may or may not be used to load policy and data. Here are the endpoints.

Policy loading (e.g., policy synching from configmaps implemented [here](https://github.com/open-policy-agent/kube-mgmt/blob/master/pkg/configmap/configmap.go)):

* `PUT /v1/policy/<path>`
* `DELETE /v1/policy/<path>`

Data loading (e.g., k8s resource synching implemented [here](http

[2021-06-11 00:11] tallclair commented on #100
Thanks. This addresses my immediate need, but might be useful to put in the README?

[2021-06-11 13:23] tsandall commented on #100
@tallclair that's a good idea. Updated the README.

@tallclair also, I realized that the original sample policy I posted was granting access to `GET /`. You'll want to disable/remove that in your version.

[2021-06-11 13:39] #100 closed

[2021-07-15 14:27] Sir-Jacques opened #101 "Data object access in policy always results in status "allowed""
Hey,

While deploying the opa helm chart (1.14.6) on our cluster we ran into an issue we haven't been able to solve during the last couple of days. All resources (except our policy cm) are deployed using this values.yaml:

[code]

Then I inserted this policy into the same namespace to test the functionality (should deny ALL ingresses):
[code]

After attempting to insert an ingress into the cluster

[2021-07-16 00:33] ashutosh-narkar commented on #101
You'll have to specify the `default_decision` in your `opa` config to point to your policy. Or define a policy at `data.system.main` which then calls your policy. [This](https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/) tutorial has an example of the latter. When the k8s API server does a `POST` on `/`,  OPA looks for a policy decision at  `data.system.main` by default.

[2021-07-16 08:56] Sir-Jacques commented on #101
Thanks for your reply!

In that tutorial they insert this default policy 'manually'. Is there a way to deploy it from the helm chart? I've applied that ConfigMap template to our cluster (using the correct namespace), but that did not work.

Also, does the default policy from the tutorial automatically trigger other policies? Or should we add them to the default policy manually?

Kind regards,
Jacc

[2021-07-16 23:09] ashutosh-narkar commented on #101
Yes.

You should either change the `default_decision` in your `opa` config or structure your policy similar to the tutorial.

[2021-07-20 11:12] Sir-Jacques commented on #101
Hey,

First of all, many thanks for pointing us in the right direction! It turned out that I forgot to add the policy label to the default_decision policy ConfigMap (because of 'requireLabel'), but now I can use my debug policy that denies all ingresses.

However, when I try to use the data object inside a policy it always responds with "allowed". In my helm values.yaml I've set opa.mgmt.data.enab

[2021-07-20 16:37] ashutosh-narkar commented on #101
You can turn on debug logging in OPA using the log level `debug`. You can also turn on [console decision logging](https://www.openpolicyagent.org/docs/latest/management-decision-logs/#local-decision-logs) to get more information.

Also have you [unit tested](https://www.openpolicyagent.org/docs/latest/policy-testing/) your policy ? We recommend you do that before running it in your setup. It helps

[2021-07-21 08:42] Sir-Jacques commented on #101
I'm currently using the example ingress-conflicts policy (https://play.openpolicyagent.org/). The policy was validated using the rego playground, and behaves correctly (in the playground). But as soon as I insert an existing hostname into the cluster it gets "allowed".

I suspect the data object is empty (thus resulting in 0 conflicts), but haven't been able to verify this (decision_logging doesn'

[2021-07-22 21:33] ashutosh-narkar commented on #101
Have you looked at the logs in the `kube-mgmt` container ? Any errors there?

[2021-07-22 21:35] ashutosh-narkar commented on #101
You should also see `PUT` calls in the OPA logs coming from the `kube-mgmt` container.

[2021-07-29 09:18] KoviaX commented on #101
I think I am running into the same issue.

Using the following policies:

[code]

Applying an Ingress results in it being blocked with message "DEBUG". However, I'm trying to prevent duplicate ingress hosts being created, so I remove the comment signs inside the ingress-whitelist policy. However when I do this, the policy suddenly always returns "allow" if I look at the request in the debug logs,

[2021-07-29 17:29] ashutosh-narkar commented on #101
Do you see any relevant logs in the kube-mgmt container and the k8s API server. If it's a permissions issue, I would expect to see some errors in there.

[2021-07-30 06:34] KoviaX commented on #101
You are absolutely right! In previous iterations where it wasn't working the kube-mgmt logs were empty, but this time the error was clearly showing that it could not retrieve ingresses to build up its cache. Due to my limited knowledge of K8s RBAC, I assumed `""` and `"*"` were the same thing because I see them used interchangeably a lot, but apparently they are only interchangeable on resources f

[2021-08-04 15:02] Sir-Jacques commented on #101
This resolved the behavior I was experiencing!

Thanks for your replies guys, I'm closing the issue.

Kind regards,
Jacco

[2021-08-04 15:02] #101 closed

[2021-08-11 19:28] wesuuu opened #102 "Support for multiple admission controllers in the Helm chart"
Is there any reason why we wouldn't want to have multiple admission controllers (e.g. both validating and mutating) pointing to the same opa deployment? My org. needs to use both features in our k8s cluster.

If not, I can submit a pull request to generate multiple admission controllers like below:

[code]

[2021-08-12 01:00] ashutosh-narkar commented on #102
You can have the same OPA instance acting as both a validating and mutating admission controller. You'd need to set the `path` field in the webhook client config to the OPA policy decision you want for the validating and mutating scenarios.

[2021-08-12 20:30] wesuuu commented on #102
Thanks @ashutosh-narkar, for your feedback!

Do you have a link to where this is documented or an example of how to do this? It's still unclear to me where we set the ```path``` field as I don't see at as an option within a `ValidatingWebhookConfiguration` or a`MutatingWebhookConfiguration`.

[2021-08-13 01:28] ashutosh-narkar commented on #102
[This](https://github.com/open-policy-agent/opa-envoy-plugin/blob/main/examples/istio/quick_start.yaml#L319) example could be useful. The only caveat is I'm not sure how this can be configured via the helm chart.

[2021-08-16 22:08] wesuuu commented on #102
Thanks, @ashutosh-narkar. Haven't had time to look into this yet but I'll let you know if I find anything.

[2021-08-16 22:08] #102 closed

[2021-09-02 21:31] #67 closed

[2021-09-02 21:35] eshepelyuk commented on #16
Lets close it,  3 yrs passed and no feedback on this issue from community.

[2021-09-02 21:35] #16 closed

[2021-09-02 21:35] #5 closed

[2021-09-02 21:36] #2 closed

[2021-09-08 19:21] #95 closed

[2021-10-05 08:19] Flowkap opened #110 "Helm installation is stating outdated command structure"
Refer to https://github.com/open-policy-agent/kube-mgmt/blame/master/charts/opa/README.md#L27

The helm 3 command structure is now:

[code]

Resulting in the correct version like this:

`helm upgrade opa opa/opa -i -n opa --create-namespace`

[2021-10-13 11:49] #110 closed

[2021-10-20 13:19] damoon opened #112 "ValidatingWebhookConfiguration v1beta1 fail for kubernetes 1.22"
When i try to use the chart (version 2.0.0) with kubernetes 1.22 i get this error:
`no matches for kind "ValidatingWebhookConfiguration" in version "admissionregistration.k8s.io/v1beta1"`

Kubernetes 1.21 works fine.
Kubernetes 1.22 stopped serving this version see: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#webhook-resources-v122.

I suggest to update to `admissionregistrat

[2021-10-23 05:14] #112 closed, assigned to nobody

[2021-10-27 07:40] damoon opened #117 "incompatible with cert-manager 1.6"
cert-manager 1.4 deprecated v1beta1, v1alpha3, and v1alpha2,
cert-manager 1.6 removed these versions now.
see: https://cert-manager.io/docs/contributing/crds/#versions

when trying to install the chart the message `cert-manager CRD does not appear to be installed` appears, that confused me for a moment because cert-manager was clearly installed.

[2021-10-27 08:22] #117 closed, assigned to nobody

[2022-01-19 13:01] rg2011 opened #123 "Update dependencies?"
I'm working on a project where I need a policy engine with kubernetes context data that will **not** be used for admission control, so OPA + kube-mgmt look like a better match than OPA Gatekeeper for my particular use case.

I intend to address some of the open issues in kube-mgmt, the first one being #47 (PR #122). But before doing any code change, I think it would be worth updating the project d

[2022-01-24 11:29] riccardo32 opened #124 "archived versions sha265sum changed"
The sha256sum has changed for archived release specifically https://github.com/open-policy-agent/kube-mgmt/archive/v0.12.tar.gz

Please confirm if this was done intentionally ?

[2022-03-02 09:36] stevo-f3 opened #130 "[helm] Make dns policy configurable"
When opa Deployment is run on host network, dns policy should typically be set to `ClusterFirstWithHostNet` (see https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy)

Please make dns policy configurable in helm chart and default to `ClusterFirstWithHostNet` when host network is enabled.

https://github.com/open-policy-agent/kube-mgmt/blob/master/charts/opa/val

[2022-03-02 20:47] anderseknert commented on #130
Seems reasonable to me. Would you want to submit a PR?

[2022-03-03 21:20] rg2011 commented on #123
Merged in PR #129

[2022-03-03 21:20] #123 closed

[2022-03-04 19:33] rg2011 opened #131 "Potential loop while loading policies or data from ConfigMaps"
When configured to load policies or data from ConfigMaps, kube-mgmt listens for changes in ConfigMaps, updates OPA, and annotates the ConfigMap with `openpolicyagent.org/policy-status` = `{"status":"ok"}` or `{status="error", "error":"..."}`.

But annotating the ConfigMap actually triggers a new update, if the annotation was not already present, or has changed. This has the risk of errors introduc

[2022-03-07 08:31] rg2011 opened #134 "resource synchronization might affect kubernetes API"
When kube-mgmt is synchronizing some resource, it will restart syncronization whenever an update to OPA fails. Each time synchronization restarts, it will create a new ListWatch and ask the kubernetes API for a full resource list across all namespaces.

This can happen as often as once per second, because OPA errors always reset the backoff delay to the minimum (1 second currently):

https://githu

[2022-03-07 22:35] rg2011 commented on #131
Fixed by #133

[2022-03-07 22:35] #131 closed

[2022-03-09 15:08] stevo-f3 opened #136 "Allow configuring kube-mgmt with unknown flags i.e. klog with logtostderr"
kube-mgmt has klog as implicit dependency.

By default klog will log to temp file in /tmp dir

If kube-mgmt is run with `readOnlyRootFilesystem: true` securityContext, logging will fail and crash the container

[code]

klog can typically be configured with `--logtostderr=true` to log to stderr instead of file.

Problem is, kube-mgmt uses cobra and its underlying pflag, which by default doesn't all

[2022-03-10 12:36] stevo-f3 commented on #130
@anderseknert PR is up https://github.com/open-policy-agent/kube-mgmt/pull/138

[2022-03-10 15:11] #130 closed

[2022-03-21 09:39] tclass opened #140 "Running kube-mgmt as a sidecar, multiple times in one cluster"
Hey,
we want to start using kube-mgmt and need to run it as a sidecar for a pod. We would also have multiple replicas of that deployment in one cluster. We have the problem that sometimes only 2/3 OPAs are updated and now after reading a bit, I suspect it's because of the label `openpolicyagent.org/policy-status` it's set from one mgmt and then the others are not sending PATCH requests to their OP

[2022-03-21 16:14] tclass commented on #140
after some hours of trying, I figured it out now. I had policies with clashing package names. Everything works as expected.

[2022-03-31 06:53] rg2011 opened #141 "Move removal of Data ConfigMaps out of loop"
When a data Configmap is removed, `pkg.configmap.Sync` loops on the keys of the ConfigMap and sends a remove request to OPA (`PatchData`) once per key. But the path in the request is always the same, so effectively it is trying to remove the same object several times:

https://github.com/open-policy-agent/kube-mgmt/blob/6da0e7ea2465b5cc2e3bdf1791186f7637a710b7/pkg/configmap/configmap.go#L265-L274

[2022-04-26 22:41] mvaalexp opened #142 "replicate cache hanging on configmaps"
I am using a fairly large cluster with some configmaps that are constantly updating. When I add the `--replicate=v1/configmaps` flag to kube-mgmt, the watch seems to hang for hours (I am seeing around 3+ hours).

The only conclusion I can come to is that because of the constantly updating configmaps, the ResultChan is not ever returning?

https://github.com/open-policy-agent/kube-mgmt/blob/6da0e7e

[2022-04-27 07:18] srenatus commented on #47
Looks like this was done, thanks to @rg2011.

[2022-04-27 07:18] #47 closed

[2022-04-29 12:25] odidev opened #143 "Require Linux/ARM64 docker image for open-policy-agent/kube-mgmt"
Hi Team,    

I have been working on building open-policy-agent/kube-mgmt docker image for the arm64 platform and I have successfully built the docker image for the arm64 platform locally and it is working fine.

Do you have any plans for releasing arm64 images?  I’m happy to help if needed.

[2022-04-29 20:00] anderseknert commented on #143
Contributions would definitely be welcome! Ideally we'd have the same image published for multiple targets, like we do for the OPA `-static` image.

[2022-05-04 05:40] odidev commented on #143
I have made some changes in Dockerfile, release.yaml and justfile to build and release docker images using buildx.

Commit Link:- https://github.com/odidev/kube-mgmt/commit/8d2d021e6b8e41b99ab8a9b6e34a052a74c69eb1

If these changes are ok, then I will raise the PR.

[2022-05-04 07:52] anderseknert commented on #143
Looks fine to me, but let's open that PR and we can continue the discussion with more participants there :)

[2022-05-06 20:28] #88 closed

[2022-05-06 20:29] eshepelyuk commented on #69
Duplicate of #143

[2022-05-06 20:29] #69 closed

[2022-05-06 20:40] eshepelyuk commented on #124
This should not be happening since https://github.com/open-policy-agent/kube-mgmt/releases/tag/2.0.0

[2022-05-06 20:40] #124 closed

[2022-05-07 05:13] #90 closed

[2022-05-07 10:54] jdef commented on #90
Was this resolved by a PR? If so, mind linking to it?

On Sat, May 7, 2022, 1:13 AM Ievgenii Shepeliuk ***@***.***>
wrote:

[2022-05-07 14:52] eshepelyuk commented on #90
The links are just above your comment.

[2022-05-07 14:59] jdef commented on #90
Heh, thanks. Was looking at the email thread. Should have checked GH
directly

On Sat, May 7, 2022, 10:52 AM Ievgenii Shepeliuk ***@***.***>
wrote:

[2022-05-10 06:14] #143 closed

[2022-05-16 07:13] odidev opened #155 "Enable ARM64 testing in Github Actions"
Currently, there are only AMD64 test jobs available on github actions. It will be useful if we add test jobs for ARM64 as well in github actions, as it is better to test before releasing ARM64 docker images.

We can do ARM64 testing in Github actions using self-hosted arm64 runners.

If interested, we can get access to ARM H/W through [WorksOnArm](https://github.com/WorksOnArm).

[2022-05-26 00:14] #99 closed

[2022-05-30 13:20] odidev commented on #155
Hi Team,

Adding a gentle reminder to take a look into this issue.

[2022-06-11 21:16] eshepelyuk commented on #155
https://opensource.guide/how-to-contribute/

[2022-07-05 23:14] MRSharff opened #164 "Alpine Base image"
The Alpine base image 3.12.3 has many vulnerabilities.

The follow CVE's are found in versions up to 3.12.12:

CVE-2021-28831 Fixed in Alpine 3.12.6 https://alpinelinux.org/posts/Alpine-3.10.8-3.11.10-3.12.6-released.html

CVE-2021-30139 Fixed in Alpine 3.12.7 https://alpinelinux.org/posts/Alpine-3.10.9-3.11.11-3.12.7-released.html

CVE-2021-36159 Fixed in Alpine 3.12.8 https://alpinelinux.org/pos

[2022-07-05 23:20] eshepelyuk commented on #164
Hello @MRSharff
Feel freto open a PR, since you are apparently aware how to fet rid of those vulnarabilities.

[2022-07-05 23:23] eshepelyuk commented on #164
Must probably this is the pine to amend
https://github.com/open-policy-agent/kube-mgmt/blob/master/skaffold.yaml#L9

[2022-07-06 17:10] #164 closed

[2022-07-06 17:12] eshepelyuk commented on #164
Addresses in https://github.com/open-policy-agent/kube-mgmt/releases/tag/7.0.5

[2022-08-19 13:49] kleug opened #168 "Bad indents: can't specify resources for mgmt"
https://github.com/open-policy-agent/kube-mgmt/blob/6e4a2f4005fa336f48098c2208e930a14f2c1620/charts/opa-kube-mgmt/templates/deployment.yaml#L166

This line cause release failed for me i think it's should be like line 99 with no space if you specify indent
i can't specify ressource for mgmt

https://github.com/open-policy-agent/kube-mgmt/blob/6e4a2f4005fa336f48098c2208e930a14f2c1620/charts/opa-kube

[2022-08-22 11:48] #168 closed

[2022-08-22 20:59] eshepelyuk commented on #168
Hello @kleug
The fix is available at 7.0.7, thanks for a contribution.

[2022-08-30 08:13] elchenberg opened #171 "Helm chart does not support Kubernetes v1.25 PodDisruptionBudget"
Kubernetes v1.25 removed the deprecated apiVersion `policy/v1beta1` for PodDisruptionBudgets that is used in the Helm chart: https://github.com/open-policy-agent/kube-mgmt/blob/5d94d2971df897fe6a0e54e7f8c7ac5dea690961/charts/opa-kube-mgmt/templates/poddisruptionbudget.yaml#L2-L3

Installing the chart fails with the following error: `no matches for kind "PodDisruptionBudget" in version "policy/v1be

[2022-08-30 20:06] #171 closed

[2022-08-30 20:14] eshepelyuk commented on #171
Thnx for contribution @elchenberg
Available in https://github.com/open-policy-agent/kube-mgmt/releases/tag/7.0.8

[2022-10-12 21:27] eshepelyuk commented on #75
2 yrs passed without feedback. Hopefully all those issues are solved. If not - please create a new issues with all required steps to replicate.

[2022-10-12 21:27] #75 closed

[2022-10-12 21:28] #74 closed

[2022-10-12 21:30] eshepelyuk commented on #142
@mvaalexp still happening in the latest version ?

[2022-10-12 21:45] #40 closed

[2022-10-12 21:46] #10 closed

[2022-10-12 21:48] #53 closed

[2022-11-09 22:47] ra-grover commented on #142
We also have the same issue, the container just hung for few days on
```time="2022-11-03T17:23:19Z" level=info msg="Loaded 701 resources of kind v1/configmaps into OPA. Took 265.538471ms"```

And we are on the latest version `7.1.1`.